@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// variables
$clr-black: #000;
$clr-white: #fff;
$clr-regal-blue: #103755;
$clr-gold: #eeb808;
$clr-light-blue: #707b8e;
$clr-pine-green: #63766b;
$clr-ghost-white: #f8f8fa;
$clr-dark: #212529;
$clr-red: #CE4F4B;
$fnt-base: 'Poppins', sans-serif;
$transition: all 0.5s linear;

// global styles & resets
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar{
  width: 10px;
}

*::-webkit-scrollbar-thumb{
  background-color: $clr-regal-blue;
  border-radius: 20px;
  border: 2px solid $clr-white;
  height: 30px;
}

*::-webkit-scrollbar-track{
  border-radius: 20px;
}

body{
  font-family: $fnt-base;
  background-color:rgb(247, 247, 247);
}

input{
  outline: none;
}

button{
  border: none;
  outline: none;
}

.link{
  text-decoration: none;
}

i{
  cursor: pointer;
}

.container{
  width: 92%;
  margin: auto;
}

.nav-category{
  background-color: $clr-white;
  padding: 10px 0;
  .container{
    display: flex;
    align-items: center;
    color: $clr-regal-blue;
    .link{
      color: $clr-regal-blue;
    }
    .icon{
      font-size: 20px;
    }
    .break{
      padding: 0px 15px;
    }

    p{
      padding: 0;
    }
    
  }
}


img{
  object-fit:cover;
}







